.signup-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-child{
    height: 500px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 5px 8px 5px 8px;
}